/* ===========================
   MJ FIT IR
   Elite Fitness Coach
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0b0b0b;
    color:#ffffff;
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:#fff;
}

img{
    max-width:100%;
    display:block;
}

section{
    padding:100px 10%;
}

/* ===========================
   HEADER
=========================== */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:rgba(0,0,0,.75);
    backdrop-filter:blur(15px);
    z-index:1000;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
}

.logo{
   
