/* ==========================
GALLERY SECTION
========================== */

.gallery{

background:var(--dark2);

}


.gallery-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}



.gallery-item{

position:relative;

overflow:hidden;

border-radius:25px;

height:350px;

}



.gallery-item img{

width:100%;

height:100%;

object-fit:cover;

transition:.5s;

}



.gallery-item::after{

content:"";

position:absolute;

inset:0;

background:linear-gradient(
to top,
rgba(0,0,0,.75),
transparent
);

opacity:0;

transition:.4s;

}



.gallery-item:hover img{

transform:scale(1.1);

}



.gallery-item:hover::after{

opacity:1;

}



.gallery-caption{

position:absolute;

bottom:25px;

left:25px;

z-index:2;

opacity:0;

transform:translateY(20px);

transition:.4s;

}



.gallery-item:hover .gallery-caption{

opacity:1;

transform:translateY(0);

}



.gallery-caption h3{

font-size:22px;

}



.gallery-caption span{

color:var(--primary);

font-size:14px;

}



/* ==========================
TRANSFORMATION SECTION
========================== */


.transform{

background:var(--dark);

}



.transform-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:50px;

align-items:center;

}



.transform-box{

background:var(--card);

padding:35px;

border-radius:30px;

box-shadow:var(--shadow);

}



.transform-images{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}



.transform-images img{

border-radius:20px;

height:350px;

object-fit:cover;

}



.transform-content h2{

font-size:45px;

margin-bottom:25px;

}



.transform-content h2 span{

color:var(--primary);

}



.transform-content p{

color:var(--gray);

margin-bottom:30px;

}



.check-list{

list-style:none;

}



.check-list li{

margin:15px 0;

color:#ddd;

}



.check-list li::before{

content:"✓";

color:var(--primary);

font-weight:800;

margin-right:12px;

}



/* ==========================
INSTAGRAM STYLE
========================== */


.social-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}



.social-card{

background:var(--card);

border-radius:25px;

overflow:hidden;

transition:.35s;

}



.social-card:hover{

transform:translateY(-10px);

}



.social-card img{

width:100%;

height:300px;

object-fit:cover;

}



.social-content{

padding:25px;

}



.social-content h3{

margin-bottom:10px;

}



.social-content p{

color:var(--gray);

font-size:15px;

}



/* ==========================
RESPONSIVE PART 3
========================== */


@media(max-width:1000px){


.gallery-grid{

grid-template-columns:repeat(2,1fr);

}


.transform-grid{

grid-template-columns:1fr;

}


.social-grid{

grid-template-columns:repeat(2,1fr);

}


}



@media(max-width:600px){


.gallery-grid{

grid-template-columns:1fr;

}


.social-grid{

grid-template-columns:1fr;

}


.transform-images{

grid-template-columns:1fr;

}


.transform-content h2{

font-size:35px;

}


.gallery-item{

height:300px;

}


}
