*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


html{
scroll-behavior:smooth;
}


body{

background:
radial-gradient(circle at top,#3a2b00 0%,#080808 35%,#000 100%);

color:white;

min-height:100vh;

}




.glass{

background:
rgba(255,255,255,0.06);

border:
1px solid rgba(212,175,55,0.35);

backdrop-filter:blur(20px);

-webkit-backdrop-filter:blur(20px);

border-radius:25px;

box-shadow:
0 0 40px rgba(212,175,55,0.15);

}





header{

position:fixed;

top:20px;

left:5%;

right:5%;

z-index:100;

}





nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 35px;

}





.logo{

font-size:32px;

font-weight:900;

color:white;

}



.logo span{

color:#d4af37;

}




.menu a{

color:white;

text-decoration:none;

margin:0 12px;

font-size:15px;

transition:.3s;

}



.menu a:hover{

color:#d4af37;

}




.hero{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

padding:20px;

background:

linear-gradient(
rgba(0,0,0,.65),
rgba(0,0,0,.85)
),

url("images/hero.jpg");

background-size:cover;

background-position:center;

}





.hero-box{

max-width:850px;

text-align:center;

padding:50px;

}




h1{

font-size:70px;

font-weight:900;

line-height:1.1;

}



h1 span{

color:#d4af37;

}





p{

font-size:18px;

line-height:2;

color:#ddd;

margin:25px 0;

}




.gold-btn,
.outline-btn{

display:inline-block;

padding:15px 35px;

border-radius:50px;

text-decoration:none;

margin:10px;

font-weight:bold;

transition:.3s;

}




.gold-btn{

background:

linear-gradient(
45deg,
#b8860b,
#ffd700
);

color:black;

}



.outline-btn{

border:

1px solid #d4af37;

color:#d4af37;

}



.gold-btn:hover,
.outline-btn:hover{

transform:translateY(-5px);

box-shadow:
0 0 25px #d4af37;

}





.section
