@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700;900&display=swap');


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Vazirmatn,sans-serif;

}



body{

background:

linear-gradient(
rgba(0,0,0,.75),
rgba(0,0,0,.85)
),

url("https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e")

center/cover fixed;


color:white;

}




.glass{

background:rgba(255,255,255,0.10);

border:
1px solid rgba(255,255,255,0.20);

backdrop-filter:blur(15px);

border-radius:25px;

box-shadow:
0 10px 40px rgba(0,0,0,.4);

}




header{

padding:20px;

}




nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 35px;

}



nav a{

color:white;

text-decoration:none;

margin:10px;

}




.hero{

min-height:90vh;

display:flex;

justify-content:center;

align-items:center;

padding:30px;

}




.box{

max-width:800px;

padding:40px;

text-align:center;

}




h1{

font-size:55px;

font-weight:900;

}



p{

font-size:18px;

line-height:2;

margin:20px 0;

}




.btn{

display:inline-block;

padding:15px 35px;

background:white;

color:black;

border-radius:50px;

text-decoration:none;

font-weight:bold;

}




section{

padding:60px 30px;

}




.cards{

display:flex;

gap:25px;

justify-content:center;

flex-wrap:wrap;

}




.card{

width:300px;

padding:30px;

text-align:center;

}




footer{

text-align:center;

padding:30px;

}



@media(max-width:700px){

h1{

font-size:35px;

}


nav{

flex-direction:column;

}

  }
