/* ===========================
   PHILOSOPHY
=========================== */

.philosophy{
    background:#111111;
    text-align:center;
}

.philosophy-text{
    max-width:900px;
    margin:0 auto;
    font-size:20px;
    line-height:2;
    color:#d8d8d8;
}

/* ===========================
   CONTACT
=========================== */

.contact{
    background:#0b0b0b;
    text-align:center;
}

.contact-links{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    margin-top:40px;
}

.contact-links a{
    display:flex;
    align-items:center;
    gap:12px;
    padding:18px 35px;
    background:#171717;
    border-radius:50px;
    border:1px solid rgba(255,255,255,.08);
    transition:.4s;
}

.contact-links a:hover{
    background:#d4af37;
    color:#000;
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(212,175,55,.35);
}

.contact-links i{
    font-size:24px;
    color:#d4af37
