*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


html{
scroll-behavior:smooth;
}


body{

background:
radial-gradient(circle at top,#4a3500 0%,#080808 35%,#000 100%);

color:white;

overflow-x:hidden;

}



/* Glass Style */

.glass{

background:
rgba(255,255,255,0.07);

border:
1px solid rgba(212,175,55,0.35);

backdrop-filter:blur(20px);

-webkit-backdrop-filter:blur(20px);

border-radius:25px;

box-shadow:
0 0 50px rgba(212,175,55,0.15);

}



/* Header */

header{

position:fixed;

top:20px;

left:5%;

right:5%;

z-index:100;

padding:20px 35px;

}


nav{

display:flex;

justify-content:space-between;

align-items:center;

}


.logo{

font-size:35px;

font-weight:900;

color:white;

}


.logo span{

color:#d4af37;

}



.menu a{

color:white;

text-decoration:none;

margin:0 12px;

font-size:15px;

transition:.3s;

}


.menu a:hover{

color:#d4af37;

}




/* Hero */

.hero{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

padding:20px;


background:

linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.9)
),

url("images/hero.jpg");


background-size:cover;

background-position:center;

}



.hero-content{

max-width:850px;

padding:60px;

text-align:center;

}



h1{

font-size:75px;

font-weight:900;

line-height:1.1;

}



h1 span{

color:#d4af37;

}



p{

font-size:18px;

line-height:2;

color:#ddd;

margin:25px 0;

}



/* Buttons */


.gold-btn,
.outline-btn{


display:inline-block;

padding:15px 40px;

border-radius:50px;

margin:10px;

text-decoration:none;

font-weight:bold;

transition:.3s;


}



.gold-btn{


background:
linear-gradient(45deg,#b8860b,#ffd700);


color:black;


}


.outline-btn{


border:1px solid #d4af37;

color:#d4af37;


}



.gold-btn:hover,
.outline-btn:hover{


transform:translateY(-5px);

box-shadow:
0 0 30px #d4af37;


}



/* Sections */


.section{


max-width:1000px;

margin:90px auto;

padding:50px;

text-align:center;


}



h2{


font-size:42px;

color:#d4af37;

margin-bottom:25px;


}



.title{


text-align:center;

margin:90px 0 40px;


}



/* Cards */


.cards{


display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;


}



.card{


width:270px;

padding:40px;

text-align:center;


}



.card h3{


font-size:60px;

color:#d4af37;


}



/* Gallery */


.gallery{


display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;


}



.gallery img{


width:300px;

height:350px;

object-fit:cover;

border-radius:25px;

border:1px solid #d4af37;


}




footer{


text-align:center;

padding:40px;

color:#888;


}




/* Mobile */


@media(max-width:768px){


header{

position:relative;

}


nav{

flex-direction:column;

gap:20px;

}


.menu{

text-align:center;

}


h1{

font-size:40px;

}


.hero-content{

padding:30px;

}


}
