/* ==========================
CONTACT SECTION
========================== */

.contact{

background:var(--dark2);

}



.contact-container{

display:grid;

grid-template-columns:1fr 1fr;

gap:60px;

align-items:start;

}



.contact-info h2{

font-size:45px;

font-weight:800;

margin-bottom:25px;

}



.contact-info h2 span{

color:var(--primary);

}



.contact-info p{

color:var(--gray);

margin-bottom:35px;

}



.contact-box{

display:flex;

align-items:center;

gap:20px;

background:var(--card);

padding:20px;

border-radius:20px;

margin-bottom:20px;

transition:.3s;

}



.contact-box:hover{

transform:translateX(10px);

border:1px solid var(--primary);

}



.contact-icon{

width:55px;

height:55px;

display:flex;

align-items:center;

justify-content:center;

background:rgba(212,175,55,.15);

border-radius:50%;

font-size:25px;

color:var(--primary);

}



.contact-box h4{

font-size:18px;

}



.contact-box span{

color:var(--gray);

font-size:14px;

}



/* ==========================
CONTACT FORM
========================== */


.contact-form{

background:var(--card);

padding:40px;

border-radius:30px;

box-shadow:var(--shadow);

}



.form-group{

margin-bottom:20px;

}



.form-group input,
.form-group textarea{

width:100%;

padding:16px 20px;

background:#101010;

border:1px solid rgba(255,255,255,.1);

border-radius:15px;

color:white;

font-family:inherit;

outline:none;

transition:.3s;

}



.form-group input:focus,
.form-group textarea:focus{

border-color:var(--primary);

}



.form-group textarea{

height:150px;

resize:none;

}



.form-btn{

width:100%;

border:none;

cursor:pointer;

font-size:16px;

}



/* ==========================
SOCIAL LINKS
========================== */


.social
